<div class="profileContainer">
  <div class="titleContainer">
    <div class="titleText"><b>Profile</b></div>
  </div>
  <div class="profileLabel">
    <div class="profileItem">
      <div class="profileText">Employee ID</div>
      <div class="profileText">Fullname</div>
      <div class="profileText">Email</div>
      <div class="profileText">Role</div>
<!--      <div class="profileText">Password</div>-->
    </div>
    <div class="separator">
      <div class="profileText">:</div>
      <div class="profileText">:</div>
      <div class="profileText">:</div>
      <div class="profileText">:</div>
    </div>
    <div class="profileItemField">
      <div class="profileField">{{currentUser.id}}</div>
      <div class="profileField">{{currentUser.employee?.firstName}} {{currentUser.employee?.lastName}}</div>
      <div class="profileField">{{currentUser.email}}</div>
      <div class="profileField">{{currentUser.role}}</div>
<!--      <input type="password" class="profileField" value="password" disabled>-->
    </div>
  </div>
  <div class="footerContainer">
    <button class="footerButton" mat-raised-button><b>Change Password</b></button>
  </div>
</div>
