<div class="cardContainer">
  <div class="titleContainer">
    <div class="titleText">Profile</div>
  </div>
  <div class="invoiceCard">
    <div class="cardItem">
      <div class="cardText">Employee ID</div>
      <div class="cardText">Name</div>
      <div class="cardText">Email</div>
      <div class="cardText">Role</div>
    </div>
    <div class="separator">
      <div class="cardText">:</div>
      <div class="cardText">:</div>
      <div class="cardText">:</div>
      <div class="cardText">:</div>
    </div>
    <div class="cardItemField">
      <div class="cardField">INV-0012</div>
      <div class="cardField">Guest</div>
      <div class="cardField">EID001</div>
      <div class="cardField">Mark Lester Bugarin</div>
    </div>
  </div>
</div>