<div class="not-found-container">
    <div class="not-found-main">
        <div class="not-found-border">
            <div class="not-found-card">
                <span class="not-found-card-title">ERROR</span>
                <h1 class="not-found-card-title2">Page not found</h1>
                <div class="not-found-card-title3">Requested resource is not available.</div>
                <img src="assets/images/404.svg" alt="Page not found" class="not-found-svg">
                    <button mat-raised-button color="warn" routerLink="/dashboard">
                        <mat-icon>undo</mat-icon> Go to Dashboard
                    </button>
            </div>
        </div>
    </div>
</div>