<div class="registrationContainer">
  <div class="titleContainer">
    <div class="titleText">Register New Employee</div>
  </div>
  <div class="border">
    <div class="formContainer">
      <form #employeeForm="ngForm">
      <div class="firstName">First name:</div>
      <div class="inputField">
        <input
          type="text"
          placeholder="Enter first name"
          name="firstName"
          #firstName="ngModel"
          [(ngModel)]="newEmployee.firstName"
          [ngClass]="{'error': firstName.touched && !firstName.value}"
        />
        <em *ngIf="firstName.touched && !firstName.value">
          Enter your first name
        </em>
      </div>
      <div class="lastName">Last name</div>
      <div class="inputField">
        <input
          type="text"
          placeholder="Enter last name"
          name="lastName"
          #lastName="ngModel"
          [(ngModel)]="newEmployee.lastName"
          [ngClass]="{'error': lastName.touched && !lastName.value}"
        />
        <em *ngIf="lastName.touched && !lastName.value">
          Enter your last name
        </em>
      </div>
      <div class="address">Address:</div>
      <div class="inputField">
        <input
          type="text"
          placeholder="Enter address"
          name="address"
          #address="ngModel"
          [(ngModel)]="newEmployee.address"
          [ngClass]="{'error': address.touched && !address.value}"
        />
        <em *ngIf="address.touched && !address.value">
          Enter your address
        </em>
      </div>
      <div class="username">Username:</div>
      <div class="inputField">
        <input
          type="text"
          placeholder="Enter username"
          name="username"
          #username="ngModel"
          [(ngModel)]="newEmployee.username"
          [ngClass]="{'error': username.touched && !username.value}"
        />
        <em *ngIf="username.touched && !username.value">
          Enter your username
        </em>
      </div>
      <div class="password">Password:</div>
      <div class="inputField">
        <input
          type="text"
          placeholder="Enter password"
          name="password"
          #password="ngModel"
          [(ngModel)]="newEmployee.password"
          [ngClass]="{'error': password.touched && !password.value}"
        />
        <em *ngIf="password.touched && !password.value">
          Enter your password
        </em>
      </div>
      <div class="userType">Role:</div>
      <div class="selectContainer">
        <select
          name="userType"
          #userType="ngModel"
          [(ngModel)]="newEmployee.userType"
          class="selectField"
          [ngClass]="{'error': userType.value == 'USER'}"
        >
          <option value="CASHIER" class="cashier">Cashier</option>
          <option value="INVENTORY_CLERK" class="inventoryClerk">
            Inventory Clerk
          </option>
        </select>
        <em *ngIf="userType.value == 'USER'">
          Enter your user type
        </em>
      </div>
      </form>
    </div>
    <div class="buttonContainer">
      <button type="submit" [disabled]="employeeForm.form.invalid" (click)="saveNewEmployee()">Register</button>
    </div>
  </div>
</div>
