<h1 mat-dialog-title class="dialog-title">Create Employee Account</h1>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input placeholder="Email" matInput formControlName="email"/>
    </mat-form-field>
    &nbsp;
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input formControlName="password" placeholder="password" matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    &nbsp;
    <mat-radio-group formControlName="roles" aria-label="Select an option">
      <mat-radio-button value="INVENTORY_CLERK">INVENTORY CLERK</mat-radio-button>
      <mat-radio-button value="CASHIER">CASHIER</mat-radio-button>
    </mat-radio-group>
    <br>
    Employee Details
    <hr>
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input placeholder="First Name" matInput formControlName="firstName"/>
    </mat-form-field>
    &nbsp;
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input placeholder="Last Name" matInput formControlName="lastName"/>
    </mat-form-field>
    &nbsp;
    <mat-form-field class="dateOfBirth">
      <mat-label>Date of Birth</mat-label>
      <input placeholder="Date of Birth" formControlName="dateOfBirth" matInput [matDatepicker]="datepicker">
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-radio-group formControlName="gender" aria-label="Select an option">
      <mat-radio-button value="MALE">Male</mat-radio-button>
      <mat-radio-button value="FEMALE">Female</mat-radio-button>
    </mat-radio-group>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field>
      <mat-label>phone</mat-label>
      <input placeholder="phone" matInput formControlName="phone"/>
    </mat-form-field>
    &nbsp;
    <mat-form-field class="full-width-input">
      <mat-label>Address</mat-label>
      <input placeholder="address" matInput formControlName="address"/>
    </mat-form-field>
    &nbsp;
    <mat-form-field class="full-width-input">
      <mat-label>Zip Code</mat-label>
      <input placeholder="Zip Code" matInput formControlName="zipCode"/>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      cdkFocusInitial
    >
      Save
    </button>
  </div>
</form>


