<div class="registrationContainer">
  <div class="titleContainer">
    <div class="titleText">Employee Details</div>
  </div>

  <div class="formContainer">
    <mat-form-field appearance="outline">
      <mat-label>Employee ID:</mat-label>
      <input matInput [value]="data.id" [disabled]="true" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>First Name:</mat-label>
      <input
        matInput
        [(ngModel)]="data.firstName"
        placeholder="Enter first name"
      />
      <mat-error *ngIf="checkInputError('firstName')" class="error-message">
        First name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone Number:</mat-label>
      <input
        matInput
        [(ngModel)]="data.phone"
        placeholder="Enter phone number"
        pattern="^[0-9]{11}$"
      />
      <mat-error *ngIf="checkInputError('phone')" class="error-message">
        Contact is required and should be a 11-digit number
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last Name:</mat-label>
      <input
        matInput
        [(ngModel)]="data.lastName"
        placeholder="Enter last name"
      />
      <mat-error *ngIf="checkInputError('lastName')" class="error-message">
        Last name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Zip Code:</mat-label>
      <input matInput [(ngModel)]="data.zipCode" placeholder="Enter Zip Code" />
      <mat-error *ngIf="checkInputError('zipCode')" class="error-message">
        Zip Code is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Address:</mat-label>
      <input matInput [(ngModel)]="data.address" placeholder="Enter address" />
      <mat-error *ngIf="checkInputError('address')" class="error-message">
        Address is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Birthdate:</mat-label>
      <input matInput [value]="data.dateOfBirth" [disabled]="true" />
    </mat-form-field>

    <!-- <mat-form-field appearance="outline">
      <mat-label>Email:</mat-label>
      <input matInput [value]="data.user?.email" [disabled]="true" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Role:</mat-label>
      <input matInput [value]="data.user?.role" [disabled]="true" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password:</mat-label>
      <input matInput type="password" [value]="data.user?.password" [disabled]="true" />
    </mat-form-field> -->

  </div>

  <div class="buttonContainer">
    <button (click)="updateEmployee(data.id)">Update</button>
  </div>
</div>
