<div class="registrationContainer">
  <div class="titleContainer">
    <div class="titleText">Register New Customer</div>
  </div>
  <div class="border">
    <div class="formContainer">
      <div class="customerIdContainer">
        <div class="customerId">Customer ID:</div>
        <div class="textField">C0001</div>
      </div>
      <div class="customerName">Customer Name:</div>
      <div class="inputField">
        <input type="text" placeholder="Enter customer name" />
      </div>
      <div class="address">Address:</div>
      <div class="inputField">
        <input type="text" placeholder="Enter address" />
      </div>
      <div class="contact">Phone Number:</div>
      <div class="inputField">
        <input type="text" placeholder="Enter phone number" />
      </div>
      <div class="contact">Credit Amount:</div>
      <div class="inputField">
        <input type="text" placeholder="Enter credit amount" />
      </div>
    </div>
    <div class="buttonContainer" (click)="registerNewCustomer()">
      <button>Register</button>
    </div>
  </div>
</div>
