<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="table-header">
        Category Id
      </th>
      <td mat-cell *matCellDef="let element" class="table-cell-font">
        {{ element.id }}
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="categoryName">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="table-header table-cell-center"
      >
        Category Name
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        class="table-cell-font table-cell-center"
      >
        {{ element.categoryName }}
      </td>
    </ng-container>

    <!-- Description -->
    <ng-container matColumnDef="categoryDesc">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="table-header table-cell-center"
      >
        Category Description
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        class="table-cell-font table-cell-center"
      >
        {{ element.categoryDesc }}
      </td>
    </ng-container>

    <!-- Description -->
    <ng-container matColumnDef="createdDate">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="table-header table-cell-center"
      >
        Creation Date
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        class="table-cell-font table-cell-center"
      >
        {{ element.createdOn | date }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="table-header">Action</th>
      <td mat-cell *matCellDef="let element" class="table-cell-font">
        <button
          class="material-symbols-outlined"
          (click)="showUpdateCategoryForm(element)"
        >
          edit_note
        </button>
        <button
          class="material-symbols-outlined table-button"
          (click)="showDetailsCategoryForm(element)"
        >
          visibility
        </button>
        <button
          *ngIf="isAdministrator()"
          class="material-symbols-outlined table-button"
          (click)="removeCategoryModal(element)"
        >
          delete
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
<ng-template #updateCategoryForm>
  <app-update-category></app-update-category>
</ng-template>
<ng-template #detailsCategoryForm>
  <app-view-category></app-view-category>
</ng-template>

<ng-template #detailsCategoryForm>
  <app-view-category></app-view-category>
</ng-template>
