<div class="cardContainer">
  <div class="invoiceCard">
    <div class="cardItem">
      <div class="cardText">Invoice No. :</div>
      <div class="cardText">Payment Mode :</div>
      <div class="cardText">Customer Name :</div>
      <div class="cardText">User ID:</div>
      <div class="cardText">User Name:</div>
    </div>
    <div class="cardItemField">
      <div class="cardField">INV-0012</div>
      <div class="cardFieldRadio">
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="1">Cash</mat-radio-button>
          <mat-radio-button value="2">Credit</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="cardField">Guest</div>
      <div class="cardField">EID001</div>
      <div class="cardField">Mark Lester Bugarin</div>
    </div>
  </div>
  <div class="totalContainer">
    <div class="totalCard">
      <div class="cardTotalItem">
        <div class="cardTextTotal">Grand Total :</div>
        <div class="cardTextTotal">Amount Tendered :</div>
        <div class="cardTextTotal">Change :</div>
      </div>
      <div class="cardTotalField">
        <div class="grandTotal">1000.00</div>
        <input class="cardInputField" type="text" />
        <div class="cardTexField">Some text...</div>
      </div>
    </div>
    <div class="barcodeCard">
      <div class="barcodeItem">
        <div class="barcodeText">Barcode :</div>
      </div>
      <div class="barcodeField">
        <input class="barcodeInputField" type="text" />
      </div>
    </div>
  </div>
  <div class="buttonCard">
    <button mat-raised-button class="buttonItem" (click)="openInvoiceModal()">
      Checkout
    </button>
    <button
      mat-raised-button
      class="buttonItem"
      (click)="openExistingCustomerModal()"
    >
      Existing Customer
    </button>
    <button
      mat-raised-button
      class="buttonItem"
      (click)="openCutomerRegistration()"
    >
      New Customer
    </button>
  </div>
</div>
<div class="posTable">
  <app-pos-table></app-pos-table>
</div>
<ng-template #invoiceModal>
  <app-invoice></app-invoice>
</ng-template>

<ng-template #existingCustomerModal>
  <app-existing-customer></app-existing-customer>
</ng-template>

<ng-template #addCustomerModal>
  <app-customer-registration></app-customer-registration>
</ng-template>
