<h1 mat-dialog-title>Add New Category</h1>

<form [formGroup]="addCategoryForm" (ngSubmit)="addNewCategoryForm()">
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Category Name</mat-label>
      <input matInput formControlName="categoryName" required />
      <mat-error *ngIf="addCategoryForm.get('categoryName')?.invalid">
        Category name is required
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="categoryDesc" required></textarea>
      <mat-error *ngIf="addCategoryForm.get('categoryDesc')?.invalid">
        Description is required
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      cdkFocusInitial
      [disabled]="addCategoryForm.invalid"
    >
      Add Category
    </button>
  </div>
</form>
