/* .main-container {
  height: 100%;
  width: 100%;
} */

.spacer {
  flex: 1 1 auto;
}

.logo {
  margin: 12px;
  text-align: center;
}

.sidenav-container {
  background-color: #234234;
}

.sidenav {
  width: 15%;
}

.sidenav-content {
  min-height: 689px;
}

.mat-list-item.active {
  color: pink;
}