.spacer {
  flex: 1 1 auto;
}

.date{
  color:white;
  font-weight: bold;
  font-size: 22px;
  font-family: 'Inria Serif', serif;
  word-wrap: break-word;
}

.mat-toolbar {
  background: #4682B4;
  color: #fff;
}