/* .main-container {
  height: 100%;
  width: 100%;
} */

.spacer {
  flex: 1 1 auto;
}

.logo {
  margin: 20px 10px 10px !important;
  text-align: center;
}

.sidenav-container {
  background: #F0F8FF;
  ;
}

.sidenav {
  width: 15%;
  background: #87CEEB;
}

.mat-expansion-panel {
  background: #87CEEB;
  width: 100%;
}

.sidenav-content {
  min-height: 689px;
}

.mat-toolbar {
  padding-left: 0;
  background: #4682B4;
  border-radius: 1px;
}

.mat-expansion-panel-body{
  padding: 0px !important;
}

.mat-expansion-panel-header{
  padding: 0 15px !important;
  height: 65px;
}

.sub-menu {
  padding: 0 !important;
}

.sub-menu-label {
  padding-left: 5px;
}

.sub-menu-icon {
  padding-left: 40px;
  width: 60px;
  margin-right: 10px !important; 
}