<h1 class="logo"><mat-icon>business_center</mat-icon> TINDAHAN</h1>
<mat-nav-list>
  <mat-list-item
    [routerLink]="['/dashboard']"
    (click)="setSelected('Dashboard')"
    [routerLinkActive]="['active']"
  >
    <mat-icon matListItemIcon>dashboard</mat-icon>
    <span matListItemTitle>Dashboard</span>
  </mat-list-item>
  <mat-list-item
    *ngIf="isAdminAndInventoryClerk()"
    [routerLink]="['/inventory']"
    (click)="setSelected('Inventory')"
    [routerLinkActive]="['active']"
  >
    <mat-icon matListItemIcon>inventory</mat-icon>
    <span matListItemTitle>Inventory</span>
  </mat-list-item>
  <mat-list-item
    *ngIf="isCashierAndAdmin()"
    [routerLink]="['/pos']"
    (click)="setSelected('Point of Sale')"
    [routerLinkActive]="['active']"
  >
    <mat-icon matListItemIcon>point_of_sale</mat-icon>
    <span matListItemTitle>Point of Sale</span>
  </mat-list-item>
  <mat-expansion-panel
    *ngIf="isAdministrator()"
    [class.mat-elevation-z0]="true"
    mat-list-item
  >
    <mat-expansion-panel-header matListItemTitle>
      <mat-icon style="margin: 0 15px 0 0">people</mat-icon>
      <span>User Management</span>
    </mat-expansion-panel-header>
    <mat-nav-list class="sub-menu">
      <mat-list-item
        [routerLink]="['/customer']"
        (click)="setSelected('Customer Management')"
        [routerLinkActive]="['active']"
        class="sub-menu"
      >
        <mat-icon matListItemIcon class="sub-menu-icon">person</mat-icon>
        <span matListItemTitle class="sub-menu-label">Customer</span>
      </mat-list-item>
      <mat-list-item
        [routerLink]="['/employee']"
        (click)="setSelected('Employee Management')"
        [routerLinkActive]="['active']"
        class="sub-menu"
      >
        <mat-icon matListItemIcon class="sub-menu-icon">badge</mat-icon>
        <span matListItemTitle class="sub-menu-label">Employee</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-expansion-panel>
  <mat-list-item
    [routerLink]="['/profile']"
    (click)="setSelected('Profile')"
    [routerLinkActive]="['active']"
  >
    <mat-icon matListItemIcon>person</mat-icon>
    <span matListItemTitle>Profile</span>
  </mat-list-item>

  <mat-list-item
    [routerLink]="['/sales']"
    (click)="setSelected('Sales')"
    [routerLinkActive]="['active']"
  >
    <mat-icon matListItemIcon>person</mat-icon>
    <span matListItemTitle>Sales</span>
  </mat-list-item>

  <mat-list-item
    [routerLink]="['/']"
    (click)="logout()"
    [routerLinkActive]="['active']"
  >
    <mat-icon matListItemIcon>logout</mat-icon>
    <span matListItemTitle>Logout</span>
  </mat-list-item>
</mat-nav-list>
