.mat-expansion-panel {
    background: #4682B4;
    width: 100%;
}

.mat-expansion-panel-body{
    padding: 0px !important;
}

mat-expansion-panel-header{
    padding: 0px 20px 0px 40px !important;
    height: 65px;
}

.sub-menu {
    padding: 0 !important;
}

.sub-menu-label {
    padding-left: 5px;
}

.sub-menu-icon {
    padding-left: 40px;
    width: 60px;
    margin-right: 10px !important; 
}

.logo {
    margin: 20px 10px 10px !important;
    text-align: center;
}

h1, mat-icon, span, mat-expansion-panel {
    color: #fff !important;
}

mat-list-item {
    padding-left: 20px !important;
}