<div class="customerContainer">
  <div class="titleHeader">
    <div class="titleText">Select Customer Account</div>
  </div>
  <div class="content">
    <p>
      Please make sure to confirm the customer's first and last name before
      choosing their account. <br />
      This is important for verification purposes.
    </p>
  </div>
  <div class="selectContainer">
    <mat-form-field>
      <mat-label>Select an account</mat-label>
      <mat-select disableRipple>
        <mat-option value="1">Guest</mat-option>
        <mat-option value="2">Mark Lester Bugarin</mat-option>
        <mat-option value="3">Kyle Marin</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
