<div class="access-container">
    <div class="access-main">
        <div class="access-border">
            <div class="access-card">
                <div class="access-card-main">
                    <div class="access-card-header">
                        <mat-icon>lock</mat-icon>
                    </div>
                    <h1 class="access-text">Access Denied</h1>
                    <span class="access-text2">You do not have the necessary permisions. Please contact admins.</span>
                    <img src="assets/images/asset-access.svg" alt="Access denied" class="access-svg">
                    <button mat-raised-button color="warn" routerLink="/dashboard">
                        <mat-icon>undo</mat-icon> Go to Dashboard
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>