<div class="error-container">
    <div class="error-main">
        <div class="error-border">
            <div class="error-card">
                <div class="error-card-main">
                    <div class="error-card-header">
                        <mat-icon>info</mat-icon>
                    </div>
                    <h1 class="error-text">Error Occured</h1>
                    <span class="error-text2">Requested resource is not available.</span>
                    <img src="assets/images/asset-error.svg" alt="Error" class="error-svg" width="80%">
                    <button mat-raised-button label="Go to Dashboard" [routerLink]="['/dashboard']">
                        <mat-icon>undo</mat-icon> Go to Dashboard
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>