<div class="registrationContainer">
  <div class="titleContainer">
    <div class="titleText">Registered Customer</div>
  </div>
  <div class="border">
    <div class="formContainer">
      <mat-form-field appearance="outline">
        <mat-label>First name:</mat-label>
        <input matInput [value]="customer.firstName" [readonly]="true" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last name:</mat-label>
        <input matInput [value]="customer.lastName" [readonly]="true" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Address:</mat-label>
        <input matInput [value]="customer.address" [readonly]="true" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Contact:</mat-label>
        <input matInput [value]="customer.contact" [readonly]="true" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Age:</mat-label>
        <input matInput [value]="customer.age" [readonly]="true" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Credited Amount:</mat-label>
        <input matInput [value]="customer.creditedAmount" [readonly]="true" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Status:</mat-label>
        <input
          matInput
          [value]="convertStatus(customer.status || false)"
          [readonly]="true"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Due date:</mat-label>
        <input matInput [value]="customer.dueDate" [readonly]="true" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Creation of Account:</mat-label>
        <input matInput [value]="customer.createdDate" [readonly]="true" />
      </mat-form-field>
    </div>
  </div>
</div>
