.modal-container{
    width: 600px;
    height: 650px;
}
.modal-header{
    background-color: #4682B4;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.titleHeader{
    font-size: 24px;
    font-weight: bold;
    font-family: Inria Serif;
    padding: 20px;
    color: white;
    font-weight: bold;
}
.receitDetails, .receitTotalItems{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.invoiceNumber, .date, .customerName, .paymentDueDate, .totalAmount, .amountTendered, .change{
    font-family: Inria Serif;
    font-size: 15px;
    padding: 5px;

}

.divider{
    justify-content: space-between;
    flex-direction: row;
    display: flex;
}

.date{
    margin-right: 10px;
}
.productHeader{
    font-family: Inria Serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}
hr {
    height: 1px;
    background-color: #4682B4;
    border: none;
  }

.modal-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.close-button {
    background-color: rgb(239, 144, 144);
    color: black;
    margin: 30px;
  }
  
.save-button {
    background-color: #87CEEB;
    color: black;
    margin: 30px;
  }