<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="prodName">
      <th mat-header-cell *matHeaderCellDef class="table-header">
        Product Name
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        class="table-cell-font"
        [style.color]="element.quantity > 10 ? null : 'red'"
      >
        {{ element.prodName }}
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="quantity">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="table-header table-cell-center"
      >
        Quantity
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        class="table-cell-font table-cell-center"
        [style.color]="element.quantity > 10 ? null : 'red'"
      >
        {{ element.quantity }}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="unitPrice">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="table-header table-cell-center"
      >
        Unit Price
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        class="table-cell-font table-cell-center"
        [style.color]="element.quantity > 10 ? null : 'red'"
      >
        {{ element.unitPrice }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="prodDesc">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="table-header table-cell-center"
      >
        Product Description
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        class="table-cell-font table-cell-center"
        [style.color]="element.quantity > 10 ? null : 'red'"
      >
        {{ element.prodDesc }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="action">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="table-header table-cell-center"
      >
        Action
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        class="table-cell-font table-cell-center"
        [style.color]="element.quantity > 10 ? null : 'red'"
      >
        {{ element.action }}

        <button
          class="material-symbols-outlined"
          (click)="showUpdateProductForm(element)"
        >
          edit_note
        </button>
        <button
          class="material-symbols-outlined table-button"
          (click)="showDetailsProductForm(element)"
        >
          visibility
        </button>
        <button
          class="material-symbols-outlined table-button"
          (click)="showDeleteProductForm(element)"
        >
          delete
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
<ng-template #updateProductForm>
  <app-update-product></app-update-product>
</ng-template>
<ng-template #detailsProductForm>
  <app-product-details></app-product-details>
</ng-template>
<ng-template #deleteProductForm>
  <app-remove-product></app-remove-product>
</ng-template>
